<H1>Edit User</H1>

<div class="container">

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <fieldset class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" minlength="3" maxlength="30" #username="ngModel" required>
        </fieldset>
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">
                Username is required
            </div>
            <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
            </div>
        </div>
        <fieldset class="form-group">
            <label>Email</label>
            <input type="email" class=" form-control" name="email" [(ngModel)]="form.email" minlength="3" maxlength="30" #email="ngModel" required>
        </fieldset>
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">
                Email is required
            </div>
            <div *ngIf="email.errors.email">
                Email must be a valid email address
            </div>
        </div>
        <fieldset class="form-group">
            <label>Password</label>
            <input type="password" class=" form-control " name="pass" [(ngModel)]="form.password" minlength="5" #password="ngModel" required>
        </fieldset>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">
                Password is required
            </div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
            </div>
        </div>
        <fieldset class="form-group">
            <label>Title</label>
            <input type="text" class=" form-control" name="title" [(ngModel)]="form.title" #title="ngModel" required>
        </fieldset>
        <div class="alert-danger" *ngIf="f.submitted && title.invalid">
            <div *ngIf="title.errors.required">
                Title is required
            </div>
        </div>
        <fieldset class="form-group">
            <label>Birthdate</label>
            <input type="date" class=" form-control " name="dob" [(ngModel)]="form.dob" #dob="ngModel" required>
        </fieldset>
        <div class="alert-danger" *ngIf="f.submitted && dob.invalid">
            <div *ngIf="dob.errors.required">
                Date of Birth is required
            </div>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
        </div>
        <button type="submit " class="btn btn-success ">Save</button>

        <button (click)="ViewUser()" type="submit " style="margin-left: 15px;" class="btn btn-warning">View Users</button>
    </form>
</div>