<br>
<br>
<h1> Users Details</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Title</th>
                <th>Birthdate</th>
                <th *ngIf="isLoggedIn">Update</th>
                <th *ngIf="isLoggedIn">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.title}}</td>
                <td>{{user.birthdate}}</td>
                <td *ngIf="isLoggedIn"><button [routerLink]="['/EditUser',user.username]" class="btn btn-success">Update</button></td>
                <td *ngIf="isLoggedIn"><button click="AddUser()" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>

    </table>

    <div class="row" *ngIf="isLoggedIn">
        <button (click)="AddUser()" class=" btn btn-success">Add</button>
    </div>
</div>