<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="/users" class="navbar-brand">User Management System</a></div>


        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <a routerLink="/login" class="nav-link" *ngIf="!isLoggedIn">Login</a>
            </li>
            <li>
                <a href click="logout()" class="nav-link" *ngIf="isLoggedIn">Logout</a>
            </li>
        </ul>
    </nav>
</header>